@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,700,700i&display=swap|Material+Icons&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, iframe {
  vertical-align: bottom;
  max-width: 100%; }

input, textarea, select {
  font: inherit; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Young Serif';
  src: url("/assets/font/YoungSerif-Regular.woff"), url("/assets/font/YoungSerif-Regular.woff2"); }

body * {
  box-sizing: border-box; }

section {
  padding: 100px 100px; }
  @media screen and (max-width: 1024px) {
    section {
      padding: 84px 84px; } }
  @media screen and (max-width: 800px) {
    section {
      padding: 68px 68px; } }
  @media screen and (max-width: 640px) {
    section {
      padding: 52px 52px; } }
  @media screen and (max-width: 480px) {
    section {
      padding: 36px 36px; } }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-family: "Arial", serif;
  font-weight: 400;
  text-decoration: none; }

body {
  font-family: "Arial", serif;
  font-weight: 400; }

@media screen and (max-width: 1600px) {
  .hideXL {
    display: none; } }

@media screen and (max-width: 1440px) {
  .hideLG {
    display: none; } }

@media screen and (max-width: 1024px) {
  .hideMD {
    display: none; } }

@media screen and (max-width: 800px) {
  .hideSM {
    display: none; } }

@media screen and (max-width: 640px) {
  .hideXS {
    display: none; } }

@media screen and (max-width: 480px) {
  .hideXXS {
    display: none; } }

html {
  background-color: #FFFFFF; }

body {
  min-height: 100vh;
  font-size: 26px;
  line-height: 1.4;
  background-color: #FFFFFF;
  color: blue; }

main {
  background-color: #FFFFFF; }

section {
  display: block;
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto; }

h1 {
  position: relative;
  font-size: 56px;
  line-height: 1.2; }
  @media screen and (max-width: 1024px) {
    h1 {
      font-size: 40px; } }
  @media screen and (max-width: 800px) {
    h1 {
      font-size: 28px; } }
  h1 span {
    display: inline;
    position: relative;
    color: blue; }
