h1

    position: relative

    font-size: $h1
    line-height: 1.2

    @extend %fontHead

    // Responsive

    +screen($md)

        font-size: $h1 / 1.4

    +screen($sm)

        font-size: $h1 / 2

    // Inner

    span

        display: inline
        position: relative

        color: $primary